streamlit==1.30.0
torch==2.8.2
torchvision==0.15.2.1   # compatible wheel for Python 3.13
segmentation-models-pytorch==0.3.0
numpy==1.26.0
Pillow==10.0.0
opencv-python==4.9.0.74
tqdm==4.66.1
requests==2.32.0
matplotlib==3.8.1   # optional
